In [102]:
import requests
import pprint
import json
import pandas as pd
# 강원, 전남, 경남, 경북, 충남, 인천 완료

In [2]:
data = pd.read_csv("new_data.csv")

In [3]:
data["toilet"] = 0
data["shower"] = 0

In [4]:
kangwon_f = pd.read_csv("해수욕장시설물_강원.csv")

In [11]:
print(data)

     Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1    지자체  해수욕장명  백사장면적(m2)  \
0             0             0               0    강원도     강문    16,200
1             1             1               1    강원도    경포대   126,000
2             2             2               2    강원도     금진    37,400
3             3             3               3   강원도    남항진     16,450
4             4             4               4   강원도     도직     18,480
..          ...           ...             ...    ...    ...        ...
272         272           272             272   충청남도    장삼포    41,000
273         273           273             273   충청남도    천리포    22,500
274         274           274             274   충청남도    청포대    25,800
275         275           275             275   충청남도    파도리    20,100
276         276           276             276   충청남도    학암포    44,100

     camp_num beach_code  latitude  longitude obs_wtemp obs_wave  obs_air  \
0           1     BCH126    37.794    128.918   TW_0089  TW_0094  TW_0094
1           0     BCH031    37.803    128.910   TW_0089  TW_0094  TW_0094
2           1     BCH138    37.639    129.044   TW_0094  TW_0094  TW_0094
3           0     BCH134    37.764    128.954   TW_0089  TW_0094  TW_0094
4           0     BCH139    37.602    129.076   TW_0094  TW_0094  TW_0094
..        ...        ...       ...        ...       ...      ...      ...
272         0     BCH257    36.422    126.360   TW_0069  TW_0069  TW_0069
273         0     BCH055    36.803    126.150   TW_0082  TW_0069  TW_0069
274         4     BCH258    36.639    126.301   TW_0082  TW_0069  TW_0069
275         1     BCH262    36.739    126.133   TW_0082  TW_0069  TW_0069
276         2     BCH053    36.898    126.213   TW_0082  TW_0069  TW_0069

     wtemp  wave  atemp  wind  toilet  shower
0    16.38  0.41  15.14   3.5       0       0
1    16.38  0.41  15.14   3.5       0       0
2    16.63  0.41  15.14   3.5       0       0
3    16.38  0.41  15.14   3.5       0       0
4    16.63  0.41  15.14   3.5       0       0
..     ...   ...    ...   ...     ...     ...
272   0.00  0.00   0.00   0.0       0       0
273   0.00  0.00   0.00   0.0       0       0
274   0.00  0.00   0.00   0.0       0       0
275   0.00  0.00   0.00   0.0       0       0
276   0.00  0.00   0.00   0.0       0       0

[277 rows x 19 columns]

In [12]:
print(data.index[('장삼포' == data['해수욕장명'])])

Int64Index([272], dtype='int64')

In [26]:
data['해수욕장명'].isin(["경포대"]).any(0)

True

In [24]:
data['toilet'][275] = 2
print(data.loc[275]['toilet'])

2

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_6924/2082229761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['toilet'][275] = 2

In [47]:
print(data['해수욕장명'].str.contains('경포').any())

True

In [49]:
for i in range(4,kangwon_f.shape[0]):
    name = kangwon_f.iloc[i][1]
    if(data['해수욕장명'].str.contains(name).any()):
        idx = data.index[data['해수욕장명'].str.contains(name)][0]
        data['toilet'][idx] = kangwon_f.iloc[i][7]
        data['shower'][idx] = kangwon_f.iloc[i][6]
    else:
        print(name)

소계
소계
속초등대
소계
소계
공현1리
공현2리
문암2
화진포콘도
소계
오산
남애1리
남애3리
지경

In [51]:
data.to_csv("final_1.csv")
#kangwon done

In [53]:
jn = pd.read_csv("해수욕장시설물_전남.csv", encoding='cp949')

In [56]:
print(jn)

    연번    시도  시군구      해수욕장 명                         주소        지정일자 조례 유무  \
0    1  전라남도  목포시     외달도해수욕장           전라남도 목포시 외달도길 72  2004-07-01     Y
1    2  전라남도  여수시     방죽포해수욕장    전라남도 여수시 돌산읍 향일암로 804-6  1998-04-04     Y
2    3  전라남도  여수시     거문도해수욕장       전라남도 여수시 삼산면 거문학교길 3  1998-04-04     Y
3    4  전라남도  여수시      장등해수욕장         전라남도 여수시 화양면 장등길 1  1998-04-04     Y
4    5  전라남도  여수시      안도해수욕장    전라남도 여수시 남면 안도해수욕장길 105  1998-04-04     Y
5    6  전라남도  여수시     만성리해수욕장   전라남도 여수시 만성리길 15-1 (만흥동)  1998-04-04     Y
6    7  전라남도  여수시     무슬목해수욕장      전라남도 여수시 돌산읍 돌산로 2876  1998-04-04     Y
7    8  전라남도  여수시     모사금해수욕장           전라남도 여수시 오천4길 29  1998-04-04     Y
8    9  전라남도  여수시      웅천해수욕장       전라남도 여수시 예울마루로 37-26  2014-06-25     Y
9   10  전라남도  여수시      낭도해수욕장       전남 여수시 화정면 낭도리 573-4         NaN   NaN
10  11  전라남도  고흥군      연소해수욕장      전라남도 고흥군 금산면 연소양지길 70  2014-06-13     Y
11  12  전라남도  고흥군      익금해수욕장      전라남도 고흥군 금산면 익금해변길 40  2004-12-24     Y
12  13  전라남도  고흥군      금장해수욕장     전라남도 고흥군 금산면 금장길 78-26  2014-06-13     Y
13  14  전라남도  고흥군      발포해수욕장      전라남도 고흥군 도화면 천마로 2743  2012-04-23     Y
14  15  전라남도  고흥군    나로우주해수욕장      전라남도 고흥군 봉래면 신금길 30-8  2012-04-23     Y
15  16  전라남도  고흥군      염포해수욕장      전라남도 고흥군 금산면 연소양지길 70  2014-06-13     Y
16  17  전라남도  고흥군      덕흥해수욕장     전라남도 고흥군 동일면 덕흥양쪽길 118  2004-12-24     Y
17  18  전라남도  고흥군   남열해돋이해수욕장      전라남도 고흥군 영남면 해맞이로 680  2008-12-09     Y
18  19  전라남도  고흥군      대전해수욕장      전라남도 고흥군 두원면 두원로 1307  2004-12-24     Y
19  20  전라남도  고흥군      풍류해수욕장     전라남도 고흥군 두원면 풍류로 99-14  2014-06-13     Y
20  21  전라남도  보성군    율포솔밭해수욕장        전라남도 보성군 회천면 우암길 24  2019-06-01     Y
21  22  전라남도  장흥군      수문해수욕장     전라남도 장흥군 안양면 수문용곡로 176  2008-01-10     Y
22  23  전라남도  해남군      송호해수욕장    전라남도 해남군 송지면 땅끝해안로 1827  1989-06-13     Y
23  24  전라남도  해남군     사구미해수욕장    전라남도 해남군 송지면 땅끝해안로 2726  1989-06-13     Y
24  25  전라남도  무안군      홀통해수욕장     전라남도 무안군 현경면 홀통길 198-1  2018-06-05     Y
25  26  전라남도  무안군     톱머리해수욕장       전라남도 무안군 망운면 톱머리길 36  2018-06-05     Y
26  27  전라남도  함평군     돌머리해수욕장       전라남도 함평군 함평읍 주포로 614  2018-06-10     Y
27  28  전라남도  영광군     가마미해수욕장    전라남도 영광군 홍농읍 가마미로 341-6  2013-06-18     Y
28  29  전라남도  영광군     송이도해수욕장         전라남도 영광군 낙월면 송이길 5  2013-06-18     Y
29  30  전라남도  완도군  신지명사십리해수욕장  전라남도 완도군 신지면 명사십리길 85-105  2018-06-19     Y
30  31  전라남도  완도군   신지 동고해수욕장      전라남도 완도군 신지면 신지로 1275  2018-06-19     Y
31  32  전라남도  완도군  금일명사십리해수욕장       전라남도 완도군 금일읍 금일로 888  2018-06-19     Y
32  33  전라남도  완도군   약산 가사해수욕장        전라남도 완도군 약산면 가사길 46  2018-06-19     Y
33  34  전라남도  완도군   청산 지리해수욕장   전라남도 완도군 청산면 청산로 1462-58  2018-06-19     Y
34  35  전라남도  완도군   청산 신흥해수욕장         전라남도 완도군 청산면 동촌길 4  2018-06-19     Y
35  36  전라남도  완도군   보길 예송해수욕장       전라남도 완도군 보길면 예송로 272  2018-06-19     Y
36  37  전라남도  완도군   보길 중리해수욕장    전라남도 완도군 보길면 보길동로 367-1  2018-06-19     Y
37  38  전라남도  완도군   보길 통리해수욕장      전라남도 완도군 보길면 보길동로 239  2018-06-19     Y
38  39  전라남도  완도군   생일 금곡해수욕장      전라남도 완도군 생일면 생일로 1228  2018-06-19     Y
39  40  전라남도  진도군      가계해수욕장     전라남도 진도군 고군면 신비의바닷길 64  2015-07-13     Y
40  41  전라남도  진도군      금갑해수욕장     전라남도 진도군 의신면 금갑길 206-6  2015-07-13     Y
41  42  전라남도  진도군      신전해수욕장   전라남도 진도군 조도면 조도대로 115-19  2015-07-13     Y
42  43  전라남도  진도군     관매도해수욕장       전라남도 진도군 조도면 관매도길 93  2015-07-13     Y
43  44  전라남도  신안군      우전해수욕장    전라남도 신안군 증도면 지도증도로 1684  2008-02-14     N
44  45  전라남도  신안군     짱뚱어해수욕장    전라남도 신안군 증도면 문준경길 459-2  2008-02-14     N
45  46  전라남도  신안군      대광해수욕장   전라남도 신안군 임자면 대광해수욕장길 179  1990-09-26     Y
46  47  전라남도  신안군      분계해수욕장    전라남도 신안군 자은면 자은서부2길 669  2008-02-14     N
47  48  전라남도  신안군      원평해수욕장    전라남도 신안군 비금면 원평해수욕장길 64  2008-02-14     N
48  49  전라남도  신안군      하트해수욕장  전라남도 신안군 비금면 하누넘해수욕장길 247  2008-02-14     N
49  50  전라남도  신안군      시목해수욕장    전라남도 신안군 도초면 시목길 219-27  2008-02-14     N
50  51  전라남도  신안군      돈목해수욕장      전라남도 신안군 도초면 돈목길 33-1  2008-02-14     N
51  52  전라남도  신안군      신도해수욕장       전라남도 신안군 하의면 신도길 163  2008-02-14     N
52  53  전라남도  신안군      추포해수욕장     전라남도 신안군 암태면 추엽길 58-59  2008-02-14     N
53  54  전라남도  신안군    황성금리해수욕장    전라남도 신안군 신의면 하태길 195-17  2008-02-14     N
54  55  전라남도  신안군    배낭기미해수욕장     전라남도 신안군 흑산면 흑산일주로 491  2008-02-14     N
55  56  전라남도  신안군     설레미해수욕장        전라남도 신안군 증도면 우전길 42  2020-06-29     N

    백사장 길이(미터)  백사장 폭(미터)  물놀이 구역 폭(미터)  ...  진료시설  체육시설  판매대여시설  해수풀  공연장  \
0        260.0       30.0         200.0  ...   NaN   NaN     1.0  1.0  NaN
1        165.0       35.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
2        285.0       25.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
3        150.0       15.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
4        255.0       20.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
5        735.0       50.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
6        435.0       20.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
7        225.0       30.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
8        360.0       10.0          10.0  ...   NaN   NaN     NaN  NaN  NaN
9          NaN        NaN           NaN  ...   NaN   NaN     NaN  NaN  NaN
10       600.0       20.0          15.0  ...   NaN   NaN     NaN  NaN  NaN
11       900.0       50.0          40.0  ...   NaN   NaN     NaN  NaN  NaN
12       500.0       20.0          15.0  ...   NaN   NaN     NaN  NaN  NaN
13       300.0       70.0          50.0  ...   NaN   NaN     NaN  NaN  NaN
14       600.0       50.0          30.0  ...   NaN   NaN     NaN  NaN  NaN
15       500.0       30.0          20.0  ...   NaN   NaN     NaN  NaN  NaN
16       500.0       50.0          30.0  ...   NaN   NaN     NaN  NaN  NaN
17       800.0       80.0          50.0  ...   NaN   NaN     NaN  NaN  NaN
18       900.0       70.0          50.0  ...   NaN   NaN     NaN  NaN  NaN
19       500.0       50.0          30.0  ...   NaN   NaN     NaN  NaN  NaN
20       900.0       60.0         100.0  ...   NaN   NaN     NaN  1.0  NaN
21       250.0       35.0          30.0  ...   1.0   1.0     1.0  NaN  NaN
22      1500.0      150.0         110.0  ...   1.0   NaN     NaN  NaN  1.0
23      2000.0      100.0          50.0  ...   NaN   NaN     NaN  NaN  NaN
24       450.0       20.0         400.0  ...   NaN   NaN     NaN  NaN  NaN
25       500.0       20.0         300.0  ...   NaN   NaN     NaN  NaN  NaN
26       900.0       20.0          20.0  ...   1.0   NaN     1.0  NaN  1.0
27      1000.0      200.0         100.0  ...   1.0   NaN     1.0  NaN  1.0
28      1000.0       20.0          20.0  ...   1.0   NaN     NaN  NaN  NaN
29      3800.0      150.0         100.0  ...   1.0   1.0     NaN  NaN  1.0
30      3500.0      250.0          80.0  ...   1.0   NaN     NaN  NaN  NaN
31      1200.0       50.0          60.0  ...   NaN   NaN     NaN  NaN  1.0
32       150.0       50.0          40.0  ...   NaN   NaN     NaN  NaN  NaN
33      1200.0      100.0          65.0  ...   NaN   NaN     NaN  NaN  NaN
34       340.0      200.0         100.0  ...   NaN   NaN     NaN  NaN  NaN
35      1000.0       30.0          60.0  ...   NaN   NaN     NaN  NaN  NaN
36       900.0       50.0          80.0  ...   NaN   NaN     NaN  NaN  NaN
37       800.0       30.0          60.0  ...   NaN   NaN     NaN  NaN  NaN
38       500.0       50.0          60.0  ...   NaN   NaN     NaN  NaN  NaN
39       400.0       70.0          70.0  ...   1.0   1.0     1.0  NaN  1.0
40       300.0      100.0         100.0  ...   1.0   NaN     1.0  NaN  NaN
41       800.0       80.0          80.0  ...   1.0   NaN     1.0  NaN  NaN
42      1200.0      100.0         100.0  ...   1.0   NaN     1.0  NaN  NaN
43       300.0      100.0          80.0  ...   NaN   NaN     1.0  NaN  NaN
44       600.0      100.0          80.0  ...   NaN   NaN     1.0  1.0  NaN
45      1570.0      100.0          80.0  ...   NaN   NaN     1.0  NaN  NaN
46       600.0      100.0          80.0  ...   NaN   NaN     1.0  NaN  NaN
47       730.0      110.0          90.0  ...   NaN   NaN     1.0  NaN  NaN
48       200.0       70.0          60.0  ...   NaN   NaN     1.0  NaN  NaN
49      1070.0       60.0          50.0  ...   NaN   NaN     1.0  NaN  NaN
50       530.0       80.0          70.0  ...   NaN   NaN     1.0  NaN  NaN
51       460.0       50.0          40.0  ...   NaN   NaN     NaN  NaN  NaN
52       600.0       40.0          30.0  ...   NaN   NaN     1.0  NaN  NaN
53       130.0       70.0          60.0  ...   NaN   NaN     NaN  NaN  NaN
54       200.0       30.0          20.0  ...   NaN   NaN     NaN  NaN  NaN
55       416.0       67.0          30.0  ...   NaN   NaN     1.0  NaN  NaN

    체험장  분수대  주차장 크기(제곱미터)  주차장 대수    방문자 수
0   NaN  NaN         500.0      20    6510.0
1   NaN  NaN         600.0     350   19651.0
2   NaN  NaN          50.0      20    1063.0
3   NaN  NaN         100.0      50    9459.0
4   NaN  NaN          50.0      20    2461.0
5   NaN  NaN        1000.0     250   47322.0
6   NaN  NaN        3000.0     100   30264.0
7   NaN  NaN         800.0     200   28368.0
8   NaN  NaN       17053.0     469   38041.0
9   NaN  NaN           NaN     NaN       NaN
10  NaN  NaN         533.0      10    4159.0
11  NaN  NaN        2045.0      24   17384.0
12  NaN  NaN         482.0      12    3166.0
13  NaN  NaN        1912.0      40    8589.0
14  NaN  NaN        7158.0     100    4035.0
15  NaN  NaN         150.0       8    5291.0
16  NaN  NaN         943.0      10    1438.0
17  NaN  NaN        5006.0     300   33307.0
18  NaN  NaN        8145.0     120    9057.0
19  1.0  NaN        1806.0       5    5741.0
20  1.0  NaN       15000.0     500   33700.0
21  NaN  NaN         100.0      30    6056.0
22  NaN  1.0        6402.0     300   20694.0
23  1.0  NaN        3219.0     200       0.0
24  NaN  NaN           NaN     NaN       0.0
25  NaN  NaN           NaN     NaN       0.0
26  1.0  NaN        5500.0     209       0.0
27  NaN  NaN       10000.0     300   20541.0
28  NaN  NaN           NaN     NaN     723.0
29  NaN  NaN       43990.0   2,680  157929.0
30  NaN  NaN         400.0      50    3142.0
31  NaN  NaN         330.0      50       NaN
32  NaN  NaN           NaN     NaN    3083.0
33  NaN  NaN           NaN     NaN    1105.0
34  NaN  NaN           NaN     NaN    2707.0
35  NaN  NaN           NaN     NaN    1181.0
36  NaN  NaN           NaN     NaN    1297.0
37  NaN  NaN           NaN     NaN     420.0
38  NaN  NaN           NaN     NaN    3333.0
39  NaN  NaN       37100.0   2,016   14716.0
40  NaN  NaN        5969.0     324    5622.0
41  NaN  NaN        1174.0      63     663.0
42  NaN  NaN        1688.0      91     778.0
43  NaN  NaN           NaN     NaN   11367.0
44  NaN  NaN        8204.0     270   25700.0
45  NaN  1.0       11808.0     400   37744.0
46  NaN  NaN         500.0      40   17118.0
47  NaN  NaN           NaN     NaN     878.0
48  NaN  NaN         330.0      30       NaN
49  NaN  NaN         600.0      50    2284.0
50  NaN  NaN           NaN     NaN       NaN
51  NaN  NaN           NaN     NaN       NaN
52  NaN  NaN         510.0      40    4837.0
53  NaN  NaN         400.0      30    1504.0
54  NaN  NaN          80.0      10    1160.0
55  NaN  NaN         300.0      90       NaN

[56 rows x 26 columns]

In [64]:
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(jn['해수욕장 명'].str.contains(name).any()):
        idx = jn.index[jn['해수욕장 명'].str.contains(name)][0]
        data['toilet'][i] = jn['화장실'][idx]
        data['shower'][i] = jn['샤워시설'][idx]
    else:
        print(name)

강문
경포대
금진
 남항진
 도직
 등명
사근진
사천
사천진
송정
순긋
안목
 안인
연곡
 염전
영진
옥계
정동진
주문진해변
하평
가진진
거진11리
거진1리
공현진1리
공현진2리
교암리
대진1리
대진5리
마차진
명파리
문암진2리
문암캠핑장
반암리
백도
봉수대
봉포리
삼포
삼포2리
송지호
송지호오토캠핑장
아야진리
자작도
천진리
청간리
초도리
켄싱턴리조트
화진포
화진포 콘도
노봉
 대진
망상
망상리조트
어달
추암
 궁촌
 덕산
맹방
문암
 부남
삼척
 상맹방
오분(간이)
용화
 임원
작은후진
 장호
 증산
하맹방
 한재밑
등대
속초
외옹치
갯마을
광진
기사문
낙산
남애1
남애3
동산
동산포
동호
물치
북분
설악
송전
원포
인구
잔교
정암
죽도
중광정
 지  경
하조대
구영
구조라
농소
덕원
덕포
망치
물안
사곡
여차
옥계
와현모래숲
죽림
학동흑진주몽돌
함목
황포
흥남
두곡월포
사촌
상주은모래비치
설리
송정솔바람해변
남일대
광암
비진도
사량도 대항
수륙
관성
나정
봉길대왕암
오류
전촌
경정
고래불
남호
대진
오보
장사
하저
구산
기성망양
나곡
망양정
봉평
후정
후포
구룡포
도구
영일대
월포
칠포
화진
일광
임랑
다대포
송도
광안리
송정
해운대
일산
진하
떼뿌루
서포리
수기
십리포
옹암
이일레
장경리
장골
왕산
을왕리
하나개
용동
백길
홍도
유림(거문도)
금일 명사십리
 사구미
구시포
동호
선유도
격포
고사포
모항
변산
위도
곽지
금능
김녕
삼양
월정
이호
함덕
협재
 신양섭지
 중문색달
 표선
 화순금모래
왜목마을
난지섬
대천
무창포
춘장대
갈음이
곰섬
구례포
구름포
기지포
꽃지
꾸지나무골
달산포
마검포
만리포
몽산포
바람아래
밧개
 방주골(백리포)
방포
백사장
삼봉
샛별
신두리
안면
어은돌
연포
의항
장삼포
천리포
청포대
파도리
학암포

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/458723390.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(jn['해수욕장 명'].str.contains(name).any()):

In [65]:
data.to_csv('final_2.csv')
#jn done

In [69]:
kn = pd.read_csv("해수욕장시설물_경남.csv", encoding='cp949')

In [79]:
kn.iloc[:,0]

0     해수욕장별(1)
1     해수욕장별(1)
2           합계
3           광암
4         통영공설
5          비진도
6           대항
7          남일대
8         학동몽돌
9           명사
10         구조라
11          덕포
12          홍남
13          와현
14          농소
15          황포
16          물안
17          덕원
18        여차몽돌
19          함목
20          죽림
21          옥계
22          사곡
23          구영
24          망치
25       상주은모래
26       송정솔바람
27          사촌
28       두곡 월포
29          설리
Name: 해수욕장별(1), dtype: object

In [84]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(kn.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = kn.index[kn.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = kn.iloc[idx][6]
        data['shower'][i] = kn.iloc[idx][5]
        
print(count)

송정
옥계
구영
구조라
농소
덕원
덕포
망치
명사
물안
사곡
여차
옥계
죽림
함목
황포
사촌
설리
남일대
광암
비진도
월포
송정
23

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/19368629.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(kn.iloc[:,0].str.contains(name).any()):

In [85]:
data.to_csv('final_3.csv')
#kn done

In [86]:
kb = pd.read_csv("해수욕장시설물_경북.csv", encoding='cp949')

In [90]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(kb.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = kb.index[kb.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = kb.iloc[idx][5]
        data['shower'][i] = kb.iloc[idx][4]
        
print(count)

관성
나정
오류
전촌
경정
고래불
남호
대진
오보
장사
하저
구산
기성망양
나곡
망양정
봉평
후정
후포
구룡포
도구
영일대
월포
칠포
화진
24

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/1455221634.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(kb.iloc[:,0].str.contains(name).any()):

In [91]:
data.to_csv('final_4.csv')
#kb done

In [93]:
cn = pd.read_csv("해수욕장시설물_충남.csv", encoding='cp949')

In [95]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(cn.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = cn.index[cn.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = cn.iloc[idx][6]
        data['shower'][i] = cn.iloc[idx][5]
        
print(count)

삼포
난지섬
대천
무창포
춘장대
갈음이
곰섬
구례포
구름포
기지포
꽃지
꾸지나무골
달산포
마검포
만리포
몽산포
바람아래
밧개
방포
백사장
삼봉
샛별
신두리
안면
어은돌
연포
의항
장삼포
천리포
청포대
파도리
학암포
32

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/2735500048.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(cn.iloc[:,0].str.contains(name).any()):

In [97]:
data.to_csv('final_5.csv')
#cn done

In [98]:
ic = pd.read_csv("해수욕장시설물_인천.csv", encoding='cp949')

In [100]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(ic.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = ic.index[ic.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = ic.iloc[idx][5]
        data['shower'][i] = ic.iloc[idx][4]
        
print(count)

떼뿌루
서포리
수기
십리포
옹암
이일레
장경리
장골
왕산
하나개
10

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/353981444.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(ic.iloc[:,0].str.contains(name).any()):

In [101]:
data.to_csv('final_6.csv')
#incheon done

In [104]:
bs = pd.read_csv("해수욕장시설물_부산.csv", encoding='cp949')

In [107]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(bs.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = bs.index[bs.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = bs.iloc[idx][4]
        data['shower'][i] = bs.iloc[idx][3]
        
print(count)

송정
일광
임랑
다대포
송도
광안리
송정
해운대
8

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/4011656860.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(bs.iloc[:,0].str.contains(name).any()):

In [109]:
data.to_csv('final_7.csv')
#busan done

In [110]:
jj = pd.read_csv("해수욕장시설물_제주.csv", encoding='cp949')

In [111]:
count = 0
for i in range(data.shape[0]):
    name = data['해수욕장명'][i]
    if(jj.iloc[:,0].str.contains(name).any()):
        count +=1
        print(name)
        idx = jj.index[jj.iloc[:,0].str.contains(name)][0]
        data['toilet'][i] = jj.iloc[idx][6]
        data['shower'][i] = jj.iloc[idx][5]
        
print(count)

곽지
금능
김녕
삼양
이호
함덕
협재
7

/var/folders/kk/y4fp8d3s29b997z_9cg0x3nw0000gn/T/ipykernel_1655/482104553.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if(jj.iloc[:,0].str.contains(name).any()):

In [112]:
data.to_csv('final_8.csv')
#jeju done