In [1]:
# 라이브러리 import
import requests
import pprint
import json
import pandas as pd

# url 입력
url = 'http://www.khoa.go.kr/api/oceangrid/tideObsAirTemp/search.do?'
ServiceKey = 'ServiceKey=SQWBYdS0x/t/3jV/vahmAA==&'
ObsCode = 'ObsCode=DT_0001&'
Date = 'Date=20160803&'
ResultType = 'ResultType=json'

# request_url = url+ServiceKey+ObsCode+Date+ResultType

In [2]:
Date_month = 'Date=201608'

In [5]:
csv_save = pd.DataFrame()

In [13]:
for i in range(1,31):
    
    Date = Date_month+str(i).zfill(2)+'&'
    request_url = url+ServiceKey+ObsCode+Date+ResultType
    
    response = requests.get(request_url)
    contents = json.loads(response.text)
    contents = contents['result']['data']
    df = pd.json_normalize(contents)
    csv_save = pd.concat([csv_save,df],ignore_index=True)
    print(i,"th done\n")
csv_save.to_csv("air_DT0001_201608.csv")

1 th done

2 th done

3 th done

4 th done

5 th done

6 th done

7 th done

8 th done

9 th done

10 th done

11 th done

12 th done

13 th done

14 th done

15 th done

16 th done

17 th done

18 th done

19 th done

20 th done

21 th done

22 th done

23 th done

24 th done

25 th done

26 th done

27 th done

28 th done

29 th done

30 th done

In [11]:
print(csv_save)

              record_time air_temp
0     2016-08-01 00:02:00     24.3
1     2016-08-01 00:05:00     24.3
2     2016-08-01 00:06:00     24.3
3     2016-08-01 00:07:00     24.3
4     2016-08-01 00:08:00     24.3
...                   ...      ...
1431  2016-08-02 23:55:00     24.4
1432  2016-08-02 23:56:00     24.4
1433  2016-08-02 23:57:00     24.4
1434  2016-08-02 23:58:00     24.5
1435  2016-08-02 23:59:00     24.5

[2870 rows x 2 columns]